<a href="https://colab.research.google.com/github/etumi/ETL-Project/blob/master/ETL_notbook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
AA_url = 'https://raw.githubusercontent.com/etumi/ETL-Project/master/Resources/AA_database.csv'
df = pd.read_csv(AA_url)

In [4]:
df.head()

        Year  Ceremony    Award  Winner                 Name              Film
0  1927/1928         1    Actor     NaN  Richard Barthelmess         The Noose
1  1927/1928         1    Actor     1.0        Emil Jannings  The Last Command
2  1927/1928         1  Actress     NaN       Louise Dresser   A Ship Comes In
3  1927/1928         1  Actress     1.0         Janet Gaynor        7th Heaven
4  1927/1928         1  Actress     NaN       Gloria Swanson    Sadie Thompson

In [0]:
df2 = df.copy()

In [6]:
df2[['Year1','Year2']] = df2.Year.str.split("/",expand=True,)
df2.head()

        Year  Ceremony    Award  ...              Film Year1 Year2
0  1927/1928         1    Actor  ...         The Noose  1927  1928
1  1927/1928         1    Actor  ...  The Last Command  1927  1928
2  1927/1928         1  Actress  ...   A Ship Comes In  1927  1928
3  1927/1928         1  Actress  ...        7th Heaven  1927  1928
4  1927/1928         1  Actress  ...    Sadie Thompson  1927  1928

[5 rows x 8 columns]

In [8]:
winner_df = df2.loc[df2['Winner'] == 1]
winner_df.head()

         Year  Ceremony           Award  ...               Film Year1 Year2
1   1927/1928         1           Actor  ...   The Last Command  1927  1928
3   1927/1928         1         Actress  ...         7th Heaven  1927  1928
6   1927/1928         1   Art Direction  ...  The Dove; Tempest  1927  1928
9   1927/1928         1  Cinematography  ...            Sunrise  1927  1928
10  1927/1928         1  Cinematography  ...            Sunrise  1927  1928

[5 rows x 8 columns]

In [14]:
AA_df = df2.copy()
AA_df = AA_df.fillna(value={'Winner':0})
AA_df.head()

        Year  Ceremony    Award  ...              Film Year1 Year2
0  1927/1928         1    Actor  ...         The Noose  1927  1928
1  1927/1928         1    Actor  ...  The Last Command  1927  1928
2  1927/1928         1  Actress  ...   A Ship Comes In  1927  1928
3  1927/1928         1  Actress  ...        7th Heaven  1927  1928
4  1927/1928         1  Actress  ...    Sadie Thompson  1927  1928

[5 rows x 8 columns]

In [18]:
Awards = AA_df['Award'].unique()
for x in Awards:
  print(x)

Actor
Actress
Art Direction
Cinematography
Directing (Comedy Picture)
Directing (Dramatic Picture)
Engineering Effects
Outstanding Picture
Unique and Artistic Picture
Writing (Adaptation)
Writing (Original Story)
Writing (Title Writing)
Special Award
Directing
Writing
Outstanding Production
Sound Recording
Short Subject (Cartoon)
Short Subject (Comedy)
Short Subject (Novelty)
Assistant Director
Film Editing
Music (Scoring)
Music (Song)
Dance Direction
Writing (Screenplay)
Actor in a Supporting Role
Actress in a Supporting Role
Short Subject (Color)
Short Subject (One Reel)
Short Subject (Two Reel)
Irving G. Thalberg Memorial Award
Music (Original Score)
Cinematography (Black and White)
Cinematography (Color)
Special Effects
Art Direction (Black and White)
Art Direction (Color)
Writing (Original Screenplay)
Documentary (Short Subject)
Music (Music Score of a Dramatic Picture)
Music (Scoring of a Musical Picture)
Outstanding Motion Picture
Documentary
Music (Music Score of a Dramatic or Comedy Picture)
Writing (Original Motion Picture Story)
Documentary (Feature)
Best Motion Picture
Writing (Motion Picture Story)
Costume Design (Black and White)
Costume Design (Color)
Special Foreign Language Film Award
Writing (Story and Screenplay)
Honorary Foreign Language Film Award
Honorary Award
Foreign Language Film
Writing (Screenplay, Adapted)
Writing (Screenplay, Original)
Jean Hersholt Humanitarian Award
Costume Design
Short Subject (Live Action)
Writing (Screenplay, Based on Material from Another Medium)
Writing (Story and Screenplay, Written Directly for the Screen)
Sound
Music (Music Score, Substantially Original)
Music (Scoring of Music, Adaptation or Treatment)
Best Picture
Sound Effects
Special Visual Effects
Music (Original Music Score)
Music (Original Score, for a Motion Picture [Not a Musical])
Music (Score of a Musical Picture, Original or Adaptation)
Music (Song, Original for the Picture)
Writing (Story and Screenplay, Based on Material Not Previously Published or Produced)
Music (Original Song Score)
Writing (Story and Screenplay, Based on Factual Material or Material Not Previously Published or Produced)
Music (Original Dramatic Score)
Music (Scoring: Adaptation and Original Song Score)
Short Subject (Animated)
Special Achievement Award (Visual Effects)
Music (Scoring: Original Song Score and Adaptation -Or- Scoring: Adaptation)
Short Film (Animated)
Short Film (Live Action)
Writing (Screenplay Adapted from Other Material)
Music (Original Song)
Special Achievement Award (Sound Effects)
Actor in a Leading Role
Actress in a Leading Role
Music (Original Song Score and Its Adaptation or Adaptation Score)
Writing (Screenplay Written Directly for the Screen, Based on Factual Material or on Story Material Not Previously Published or Produced)
Visual Effects
Special Achievement Award
Special Achievement Award (Sound Effects Editing)
Medal of Commendation
Music (Adaptation Score)
Writing (Screenplay Based on Material from Another Medium)
Writing (Screenplay Written Directly for the Screen)
Music (Original Song Score and Its Adaptation -Or- Adaptation Score)
Special Achievement Award (Sound Editing)
Short Film (Dramatic Live Action)
Makeup
Gordon E. Sawyer Award
Sound Effects Editing
Music (Original Song Score or Adaptation Score)
Award of Commendation
Writing (Screenplay Based on Material Previously Produced or Published)
Music (Original Musical or Comedy Score)
John A. Bonner Medal of Commendation
Sound Editing
Animated Feature Film
Writing (Adapted Screenplay)
Sound Mixing
Makeup and Hairstyling
Production Design

In [0]:
Movie_Awards = ['Outstanding Picture', 'Outstanding Motion Picture', 'Best Motion Picture', 'Best Picture']

In [33]:
AA_movie_awards_df = AA_df.loc[AA_df['Award'].isin(Movie_Awards)]
AA_movie_awards_df.head()

         Year  Ceremony                Award  ...            Film Year1 Year2
19  1927/1928         1  Outstanding Picture  ...      The Racket  1927  1928
20  1927/1928         1  Outstanding Picture  ...      7th Heaven  1927  1928
21  1927/1928         1  Outstanding Picture  ...           Wings  1927  1928
62  1928/1929         2  Outstanding Picture  ...           Alibi  1928  1929
63  1928/1929         2  Outstanding Picture  ...  In Old Arizona  1928  1929

[5 rows x 8 columns]

In [35]:
AA_movie_awards_df.loc[AA_movie_awards_df['Year1'] == '2014']

      Year  Ceremony  ... Year1  Year2
9786  2014        87  ...  2014   None
9787  2014        87  ...  2014   None
9788  2014        87  ...  2014   None
9789  2014        87  ...  2014   None
9790  2014        87  ...  2014   None
9791  2014        87  ...  2014   None
9792  2014        87  ...  2014   None
9793  2014        87  ...  2014   None

[8 rows x 8 columns]

In [30]:
sample_df = AA_df.loc[AA_df['Year1'] == '2014']
sample_df.head()

      Year  Ceremony  ... Year1  Year2
9713  2014        87  ...  2014   None
9714  2014        87  ...  2014   None
9715  2014        87  ...  2014   None
9716  2014        87  ...  2014   None
9717  2014        87  ...  2014   None

[5 rows x 8 columns]

In [31]:
Awards2 = sample_df['Award'].unique()
for x in Awards2:
  print(x)

Actor in a Leading Role
Actor in a Supporting Role
Actress in a Leading Role
Actress in a Supporting Role
Animated Feature Film
Cinematography
Costume Design
Directing
Documentary (Feature)
Documentary (Short Subject)
Film Editing
Foreign Language Film
Makeup and Hairstyling
Music (Original Score)
Music (Original Song)
Best Picture
Production Design
Short Film (Animated)
Short Film (Live Action)
Sound Editing
Sound Mixing
Visual Effects
Writing (Adapted Screenplay)
Writing (Original Screenplay)
Jean Hersholt Humanitarian Award
Honorary Award
Gordon E. Sawyer Award
Award of Commendation