In [ ]:
#Import Dependencies
from pprint import pprint
import pandas as pd

import requests
from sqlalchemy import create_engine
import numpy as np
from config import password, api_key_list
pd.set_option('display.max_columns', None)

import re

## Extract

In [ ]:
#import academy awards database
AA_url = 'https://raw.githubusercontent.com/etumi/ETL-Project/master/Resources/AA_database.csv'
AA_df = pd.read_csv(AA_url)

#import imbd databases
imdb_movies_url= "https://raw.githubusercontent.com/etumi/ETL-Project/master/Resources/IMDb%20movies.csv"
imdb_movie_data = pd.read_csv(imdb_movies_url)
#imdb_data = pd.read_csv("https://raw.githubusercontent.com/etumi/ETL-Project/master/Resources/IMDb%20ratings.csv")

#import Rotten tomatoes db
rotten_tomatoes_url = "https://raw.githubusercontent.com/etumi/ETL-Project/master/Resources/all_movie.csv" #actually rotten tomatoes DB
rotten_tomatoes = pd.read_csv(rotten_tomatoes_url)

In [ ]:
#filter for movies between 2010 and 2015
imdb_movie_data = imdb_movie_data.loc[(imdb_movie_data['year'] > 2009) & (imdb_movie_data['year'] < 2016) & (imdb_movie_data['country'] == 'USA')]

imdb_title_id = imdb_movie_data["imdb_title_id"]



imdb_title_id=imdb_title_id.reset_index(drop=True)

In [ ]:
#Set base url
results = []
index=[0,1000,2000,3000,4000]
x=-1

for index in index:
    y=0
    x=x+1
    for imdbID in imdb_title_id[index:]:
                
        base_url = f"http://www.omdbapi.com/?apikey={api_key_list[x]}&i={imdbID}"
        response = requests.get(base_url).json()
        
        if "Error" not in response.keys():
            results.append(response)
            print(f"Movie found {imdbID}")
            print("-----------------------------------Completed-----------------------------------")
        
        else: 
            print(f"Movie ID not found {imdbID}")
            print("-------------------------------Movie Not Found---------------------------------")
        y=y+1
        if y==1000:
            break
            
omdb_db = pd.DataFrame(results)

# Transform

### Clean up Academy Awards Dataset

In [ ]:
AA_df[['Year1','Year2']] = AA_df.Year.str.split("/",expand=True,)
AA_df['Year1'] = pd.to_numeric(AA_df['Year1'])

In [ ]:
#filter original dataset to have 15 years of data from 2010 to 2015
AA_filtered_df = AA_df.loc[AA_df['Year1'] > 2009]
AA_filtered_df = AA_filtered_df.drop(['Year1', 'Year2'], axis = 1)

#convert Year column to number
AA_filtered_df['Year'] = pd.to_numeric(AA_filtered_df['Year'])

#change values for  winner and nominies
AA_filtered_df = AA_filtered_df.fillna(value={'Winner':0})
AA_filtered_df = AA_filtered_df.replace({'Winner': {0: 'Nominated', 1: 'Won'}})

In [ ]:
Movie_Awards = ['Best Picture', 'Short Film (Animated)', 'Short Film (Live Action)']

AA_filtered_df = AA_filtered_df[AA_filtered_df['Award'].isin(Movie_Awards)]
AA_filtered_df = AA_filtered_df.drop(['Film'], axis = 1)
AA_filtered_df = AA_filtered_df.rename(columns= {'Name' : 'Title', 'Winner': 'Outcome'})

#make all column names lower case
columns = AA_filtered_df.columns.str.lower()
AA_filtered_df.columns = columns

#remove special characters and spaces from title name as well as make lower case
AA_filtered_df['query_title'] = AA_filtered_df['title'].map(lambda x: re.sub(r'\W+', '', x))

AA_filtered_df['query_title'] = AA_filtered_df['query_title'].str.strip().str.lower()

### Clean up OMDB API data

In [ ]:
#Split up Ratings information in ratings columns
omdb_db["rotten_rating"] = omdb_db.Ratings.apply(pd.Series)[1].apply(pd.Series)["Value"]

#Select needed columns
new_omdb = omdb_db.rename(columns = {'imdbID': 'imdb_id', 'imdbRating': 'imdb_rating'})
new_omdb = new_omdb[['imdb_id','rotten_rating','imdb_rating']].set_index('imdb_id')

### Clean up IMDB Movies database

In [ ]:
#Filter IMDB for 2010 to 2015
imdb_movie_data = imdb_movie_data.loc[(imdb_movie_data['year'] > 2009) & (imdb_movie_data['year'] < 2016)]
#Filter for USA movies only
imdb_movie_data = imdb_movie_data.loc[imdb_movie_data['country'] == 'USA']


imdb_movie_data2 = imdb_movie_data[['imdb_title_id','title','year','genre', 'votes', 'duration', 'country', 'language', 'description']]
imdb_movie_data2 = imdb_movie_data2.rename(columns= {'imdb_title_id' : 'imdb_id'})

#remove special characters and spaces from title name as well as make lower case
imdb_movie_data2['query_title'] = imdb_movie_data2['title'].map(lambda x: re.sub(r'\W+', '', x))
imdb_movie_data2['query_title'] = imdb_movie_data2['query_title'].str.strip().str.lower()

### Clean up Rotten Tomatoes dataset

In [ ]:
#filter rotten tomatoes dataset for 2010-2015
rotten_tomatoes = rotten_tomatoes.loc[(rotten_tomatoes['Year'] > 2009) & (rotten_tomatoes['Year'] < 2016)]

rotten_tomatoes_1 = rotten_tomatoes[['Title', 'Cast 1', 'Cast 2', 'Rating', 'Director 1', 'Release Date', 'Studio']]

columns = rotten_tomatoes_1.columns.str.lower()
columns = [name.replace(' ', '_') for name in columns]
rotten_tomatoes_1.columns = columns

rotten_tomatoes_1 = rotten_tomatoes_1.rename(columns ={'cast_1': 'actor_1', 'cast_2': 'actor_2', 'rating':'pg_rating', 'director_1': 'director'})

#remove special characters and spaces from title name as well as make lower case
rotten_tomatoes_1['query_title'] = rotten_tomatoes_1['title'].map(lambda x: re.sub(r'\W+', '', x))
rotten_tomatoes_1['query_title'] = rotten_tomatoes_1['query_title'].str.strip().str.lower()


#drop duplicate rows
rotten_tomatoes_1 = rotten_tomatoes_1.drop_duplicates('query_title', keep='last')

# Load

### Create connection to database

In [ ]:
engine = create_engine(f'postgresql://postgres:{password}@mypostgresdb.cft8wszdkeh0.us-east-2.rds.amazonaws.com:5432/postgres')

In [ ]:
#Upload all tables

AA_filtered_df.to_sql(name="Academy_Awards",con=engine, if_exists='replace', index=False) #Academy Awards dataset
new_omdb.to_sql(name="OMDB",con=engine, if_exists='replace', index=True) #OMDB API data
imdb_movie_data2.to_sql(name="IMDB",con=engine, if_exists='replace', index=False) #IMDB Movies dataset
rotten_tomatoes_1.to_sql(name="Rotten_Tomatoes",con=engine, if_exists='replace', index=False) #Rotten Tomatoes dataset